#*
 * Copyright © Microsoft Open Technologies, Inc.
 *
 * All Rights Reserved
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR CONDITIONS
 * OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
 * ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, FITNESS FOR A
 * PARTICULAR PURPOSE, MERCHANTABILITY OR NON-INFRINGEMENT.
 *
 * See the Apache License, Version 2.0 for the specific language
 * governing permissions and limitations under the License.
 *#
package ${package};

import java.io.Serializable;

#set($first = true)
/**
 * Holds folders that created for user by default.
 */
public enum DefaultFolder implements Serializable {

#foreach($navProp in $userType.NavigationProperties)
#if ($navProp.Type.endsWith(".Folder"))
#if(!$first),
#end
    /** $navProp.Name */ $navProp.Name.toUpperCase().replaceAll("FOLDER", "").replaceAll("ITEMS", "")("$navProp.Name")#set($first = false)#end
#end;

    /** Holds actual folder name. */
    private final String folderName;

    /**
     * Constructor.
     * @param folderName folder name.
     */
    DefaultFolder(String folderName) {
        this.folderName = folderName;
    }

    /**
     * Gets the name of this folder.
     * @return folder name.
     */
    public String getName() {
        return folderName;
    }

}
