#*
 * Copyright © Microsoft Open Technologies, Inc.
 *
 * All Rights Reserved
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR CONDITIONS
 * OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
 * ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, FITNESS FOR A
 * PARTICULAR PURPOSE, MERCHANTABILITY OR NON-INFRINGEMENT.
 *
 * See the Apache License, Version 2.0 for the specific language
 * governing permissions and limitations under the License.
 *#
package ${package};

import com.msopentech.odatajclient.proxy.api.annotations.Namespace;
import com.msopentech.odatajclient.proxy.api.annotations.EnumType;

#set( $enumName = $utility.capitalize($enumType.Name) )
#set( $count = $enumType.Members.size() )
#if( $enumType.UnderlyingType )
    #set( $javatype = $utility.getJavaType($enumType.UnderlyingType) )
#else
    #set( $javatype = $utility.getJavaType("Edm.Int32") )
#end

/** $enumType.Name enumeration. */
@Namespace("$namespace")
@EnumType(name = "$enumType.Name",#if( $enumType.UnderlyingType ) underlyingType = $enumType.UnderlyingType,#end isFlags = $enumType.Flags)
public enum $enumName {
#foreach ($member in $enumType.Members)#*
    *##set( $count = $count - 1 )
    /** $member.getName() */$member.getName()($member.getValue())#if( $count > 0 ),#elseif( $count <= 0 );#end
#end

    /** Holds a value. */
    private $javatype value;

    /**
     * Constructor.
     *
     * @param value value.
     */
    private $enumName($javatype value){
        this.value= value;
    }

    /**
     * Gets a value of this ${enumType.Name}.
     *
     * @return value of this ${enumType.Name}.
     */
    public $javatype getValue(){
      return this.value;
    }
}
